In [55]:
import pandas as pd
import os
import yaml
from pathlib import Path
import src.utils_dataframe as df_utils

C:/Users/Team Vaculin/PycharmProjects/MasterThesis_CUDA/

In [56]:
BASE_DIR = Path.cwd()
BASE_DIR = str(BASE_DIR).replace("\\", "/") + "/"
print(BASE_DIR)

C:/Users/Team Vaculin/PycharmProjects/MasterThesis_CUDA/

## Define path

In [47]:
# def load_csv(root_path:Path, csv_name:str, config_path:Path, define_scenario:str) -> pd.DataFrame:
#     config_path = os.path.join(root_path, config_path)
#     
#     with open(config_path, "r") as file:
#         config = yaml.safe_load(file)
#     
#     ## define csv target
#     csv_folder = os.path.join(root_path, config['yoflow_target'][define_scenario])
#     collision_partner = csv_name + ".csv"
#     csv_full_path = csv_folder + collision_partner
#     print(f"CSV file for {csv_name}")
#     
#     dataframe = pd.read_csv(csv_full_path)
#     
#     return dataframe

In [57]:
dataframe = df_utils.load_csv(
    root_path=BASE_DIR,
    csv_name="etk800-Marshall",
    config_path="config.yaml",
    define_scenario="scenario1"
)

CSV file for etk800-Marshall

In [58]:
dataframe

,bins_0_75,bins_1_75,bins_2_75,bins_3_75,bins_4_75,bins_5_75,bins_6_75,bins_7_75,Entry,Entry_point,Exit,Exit_point,path_label,outcome
0,888.0,3605.0,3.0,4.0,1.0,1.0,1.0,22.0,True,2,False,NaN,45-52,True
1,1.0,5.0,355.0,8121.0,20.0,10.0,10.0,2.0,True,3,True,1.0,45-52,True
2,972.0,3269.0,99.0,4.0,2.0,1.0,1.0,19.0,True,2,False,NaN,47-54,True
3,4.0,11.0,391.0,7204.0,37.0,9.0,16.0,25.0,True,3,True,1.0,47-54,True
4,959.0,2965.0,631.0,5.0,2.0,1.0,1.0,20.0,True,2,False,NaN,49-56,True
5,1.0,13.0,406.0,7986.0,33.0,6.0,16.0,4.0,True,3,True,1.0,49-56,True
6,814.0,39.0,2714.0,13.0,3.0,1.0,2.0,18.0,True,2,False,NaN,51-58,True
7,11.0,1.0,380.0,6527.0,39.0,1.0,1.0,28.0,True,3,True,1.0,51-58,True
8,965.0,51.0,1461.0,95.0,3.0,1.0,2.0,25.0,True,2,False,NaN,53-60,True
9,1.0,2.0,407.0,7056.0,13.0,1.0,2.0,3.0,True,3,True,1.0,53-60,True
10,856.0,58.0,261.0,350.0,8.0,5.0,10.0,41.0,True,2,False,NaN,55-62,True
11,1.0,10.0,658.0,7326.0,4.0,0.0,0.0,0.0,True,3,False,NaN,55-62,True
12,6527.0,44.0,2.0,1.0,1.0,0.0,0.0,17.0,True,2,True,4.0,NM-44-58,True
13,0.0,0.0,87.0,12066.0,12.0,2.0,1.0,1.0,True,3,True,1.0,NM-44-58,True
14,4852.0,43.0,3.0,5.0,4.0,2.0,3.0,34.0,True,2,True,4.0,NT-60-25,False
15,0.0,0.0,23.0,6716.0,10.0,0.0,0.0,0.0,True,3,True,1.0,NT-60-25,False
16,4969.0,41.0,2.0,4.0,4.0,1.0,3.0,34.0,True,2,True,4.0,NT-62-27,False
17,0.0,0.0,29.0,7071.0,11.0,0.0,1.0,1.0,True,3,True,1.0,NT-62-27,False
18,4193.0,48.0,3.0,4.0,3.0,2.0,4.0,39.0,True,2,True,4.0,NT-64-29,False
19,0.0,0.0,38.0,7717.0,10.0,0.0,1.0,1.0,True,3,True,1.0,NT-64-29,False
20,4861.0,49.0,3.0,4.0,4.0,1.0,2.0,36.0,True,2,True,4.0,NT-66-31,False
21,0.0,0.0,40.0,7854.0,9.0,0.0,0.0,1.0,True,3,True,1.0,NT-66-31,False
22,4933.0,50.0,3.0,4.0,3.0,2.0,3.0,35.0,True,2,True,4.0,NT-68-33,False
23,0.0,0.0,69.0,8800.0,11.0,0.0,1.0,0.0,True,3,True,1.0,NT-68-33,False
24,4151.0,45.0,3.0,4.0,4.0,1.0,2.0,39.0,True,2,True,4.0,NT-70-35,False
25,0.0,0.0,57.0,9082.0,10.0,0.0,1.0,0.0,True,3,True,1.0,NT-70-35,False

In [62]:
index2change = dataframe[dataframe['path_label'].str.startswith('NM')].index
print(index2change)

Index([12, 13], dtype='int64')

In [67]:
dataframe.loc[index2change, 'outcome'] = False

In [68]:
dataframe.loc[index2change]

,bins_0_75,bins_1_75,bins_2_75,bins_3_75,bins_4_75,bins_5_75,bins_6_75,bins_7_75,Entry,Entry_point,Exit,Exit_point,path_label,outcome
12,6527.0,44.0,2.0,1.0,1.0,0.0,0.0,17.0,True,2,True,4.0,NM-44-58,False
13,0.0,0.0,87.0,12066.0,12.0,2.0,1.0,1.0,True,3,True,1.0,NM-44-58,False

In [70]:
dataframe

,bins_0_75,bins_1_75,bins_2_75,bins_3_75,bins_4_75,bins_5_75,bins_6_75,bins_7_75,Entry,Entry_point,Exit,Exit_point,path_label,outcome
0,888.0,3605.0,3.0,4.0,1.0,1.0,1.0,22.0,True,2,False,NaN,45-52,True
1,1.0,5.0,355.0,8121.0,20.0,10.0,10.0,2.0,True,3,True,1.0,45-52,True
2,972.0,3269.0,99.0,4.0,2.0,1.0,1.0,19.0,True,2,False,NaN,47-54,True
3,4.0,11.0,391.0,7204.0,37.0,9.0,16.0,25.0,True,3,True,1.0,47-54,True
4,959.0,2965.0,631.0,5.0,2.0,1.0,1.0,20.0,True,2,False,NaN,49-56,True
5,1.0,13.0,406.0,7986.0,33.0,6.0,16.0,4.0,True,3,True,1.0,49-56,True
6,814.0,39.0,2714.0,13.0,3.0,1.0,2.0,18.0,True,2,False,NaN,51-58,True
7,11.0,1.0,380.0,6527.0,39.0,1.0,1.0,28.0,True,3,True,1.0,51-58,True
8,965.0,51.0,1461.0,95.0,3.0,1.0,2.0,25.0,True,2,False,NaN,53-60,True
9,1.0,2.0,407.0,7056.0,13.0,1.0,2.0,3.0,True,3,True,1.0,53-60,True
10,856.0,58.0,261.0,350.0,8.0,5.0,10.0,41.0,True,2,False,NaN,55-62,True
11,1.0,10.0,658.0,7326.0,4.0,0.0,0.0,0.0,True,3,False,NaN,55-62,True
12,6527.0,44.0,2.0,1.0,1.0,0.0,0.0,17.0,True,2,True,4.0,NM-44-58,False
13,0.0,0.0,87.0,12066.0,12.0,2.0,1.0,1.0,True,3,True,1.0,NM-44-58,False
14,4852.0,43.0,3.0,5.0,4.0,2.0,3.0,34.0,True,2,True,4.0,NT-60-25,False
15,0.0,0.0,23.0,6716.0,10.0,0.0,0.0,0.0,True,3,True,1.0,NT-60-25,False
16,4969.0,41.0,2.0,4.0,4.0,1.0,3.0,34.0,True,2,True,4.0,NT-62-27,False
17,0.0,0.0,29.0,7071.0,11.0,0.0,1.0,1.0,True,3,True,1.0,NT-62-27,False
18,4193.0,48.0,3.0,4.0,3.0,2.0,4.0,39.0,True,2,True,4.0,NT-64-29,False
19,0.0,0.0,38.0,7717.0,10.0,0.0,1.0,1.0,True,3,True,1.0,NT-64-29,False
20,4861.0,49.0,3.0,4.0,4.0,1.0,2.0,36.0,True,2,True,4.0,NT-66-31,False
21,0.0,0.0,40.0,7854.0,9.0,0.0,0.0,1.0,True,3,True,1.0,NT-66-31,False
22,4933.0,50.0,3.0,4.0,3.0,2.0,3.0,35.0,True,2,True,4.0,NT-68-33,False
23,0.0,0.0,69.0,8800.0,11.0,0.0,1.0,0.0,True,3,True,1.0,NT-68-33,False
24,4151.0,45.0,3.0,4.0,4.0,1.0,2.0,39.0,True,2,True,4.0,NT-70-35,False
25,0.0,0.0,57.0,9082.0,10.0,0.0,1.0,0.0,True,3,True,1.0,NT-70-35,False