In [5]:
import pandas as pd
import os

In [9]:
file_path = os.getcwd()
file_path = os.path.join(file_path, 'result_sc1\\result_sc1.csv')
print(file_path)
test_sc1 = pd.read_csv(file_path)

E:\01_Programming\Py\MasterThesis_CUDA\dataset\result_sc1\result_sc1.csv

In [10]:
test_sc1

,bins_0_75,bins_1_75,bins_2_75,bins_3_75,bins_4_75,bins_5_75,bins_6_75,bins_7_75,Entry,Entry_point,Exit,Exit_point,path_label,outcome
0,2.0,730.0,115.0,3052.0,24.0,1.0,0.0,1.0,True,3,False,NaN,4,True
1,32.0,1501.0,101.0,3.0,2.0,1.0,1.0,18.0,True,2,False,NaN,4,True
2,32.0,415.0,1011.0,24.0,2.0,1.0,1.0,20.0,True,2,False,NaN,4,True
3,0.0,2654.0,177.0,3400.0,30.0,0.0,0.0,0.0,True,3,False,NaN,4,True
4,366.0,30.0,2.0,2.0,1.0,0.0,1.0,21.0,True,2,True,4.0,4,True
5,0.0,1.0,10.0,3452.0,16.0,0.0,0.0,0.0,True,3,False,NaN,4,True
6,67.0,86.0,1240.0,40.0,2.0,1.0,1.0,21.0,True,2,False,NaN,4,True
7,0.0,670.0,432.0,3744.0,12.0,0.0,0.0,0.0,True,3,False,NaN,4,True
8,0.0,39.0,617.0,3662.0,14.0,0.0,0.0,0.0,True,3,False,NaN,4,True
9,14.0,39.0,541.0,65.0,2.0,1.0,1.0,22.0,True,2,False,NaN,4,True
10,133.0,404.0,196.0,22.0,2.0,0.0,0.0,20.0,True,2,False,NaN,4,True
11,0.0,212.0,2791.0,4817.0,13.0,0.0,0.0,0.0,True,3,False,NaN,4,True
12,40.0,2610.0,56.0,19.0,2.0,1.0,1.0,17.0,True,2,False,NaN,5,True
13,0.0,32.0,1722.0,6140.0,99.0,15.0,0.0,0.0,True,3,False,NaN,5,True
14,91.0,34.0,2.0,3.0,1.0,0.0,1.0,17.0,True,2,True,4.0,N,False
15,0.0,0.0,12.0,13289.0,23.0,0.0,1.0,2.0,True,3,True,1.0,N,False
16,98.0,29.0,3.0,3.0,1.0,0.0,0.0,19.0,True,2,True,4.0,N,False
17,0.0,0.0,24.0,12888.0,16.0,0.0,0.0,0.0,True,3,True,1.0,N,False
18,0.0,0.0,102.0,10938.0,14.0,0.0,0.0,0.0,True,3,True,1.0,N,False
19,160.0,30.0,3.0,3.0,1.0,0.0,1.0,19.0,True,2,True,4.0,N,False
20,219.0,34.0,3.0,3.0,1.0,1.0,1.0,20.0,True,2,True,4.0,N,False
21,0.0,0.0,31.0,14599.0,17.0,0.0,0.0,1.0,True,3,True,1.0,N,False
22,0.0,0.0,131.0,10756.0,14.0,0.0,1.0,1.0,True,3,True,1.0,N,False
23,349.0,33.0,3.0,3.0,1.0,1.0,1.0,22.0,True,2,True,4.0,N,False
24,301.0,28.0,3.0,4.0,2.0,1.0,1.0,22.0,True,2,True,4.0,N,False
25,0.0,0.0,22.0,15255.0,18.0,1.0,1.0,1.0,True,3,True,1.0,N,False

In [11]:
test_sc1.loc[1]

bins_0_75        32.0
bins_1_75      1501.0
bins_2_75       101.0
bins_3_75         3.0
bins_4_75         2.0
bins_5_75         1.0
bins_6_75         1.0
bins_7_75        18.0
Entry            True
Entry_point         2
Exit            False
Exit_point        NaN
path_label          4
outcome          True
Name: 1, dtype: object