In [27]:
import pandas as pd
from copy import deepcopy
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OneHotEncoder
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

from sklearn.pipeline import Pipeline
from sklearn.svm import LinearSVC
from sklearn.svm import SVC
from sklearn.preprocessing import PolynomialFeatures

In [4]:
from sklearn.linear_model import SGDClassifier
from sklearn.svm import LinearSVC
from sklearn.svm import SVC
from xgboost import XGBClassifier
from sklearn.model_selection import cross_val_predict
from sklearn.metrics import confusion_matrix, ConfusionMatrixDisplay
from sklearn.metrics import precision_score, recall_score
from sklearn.metrics import classification_report
from sklearn.metrics import precision_recall_curve
from sklearn.metrics import roc_curve, auc

In [68]:
def predict_data(X_train, y_train, algo):
    algo.fit(X_train, y_train)
    prediction = algo.predict(X_train)

    print(classification_report(y_train, prediction))
    return prediction

def to_numBoolean(dataframe, column_list):
    
    for column in column_list:
        dataframe[column] = dataframe[column].astype(int)
    
    return dataframe

def clean_data(df1, df2, df3, df4, df5, df6):
    org_frame = pd.concat([df1, df2, df3, df4, df5, df6])
    dataframe = deepcopy(org_frame)
    dataframe.drop(columns=['Entry_point', 'Exit_point'], inplace=True)
    dataframe.reset_index(inplace=True, drop=True)
    return dataframe

# Scenario Batch

In [4]:
data_sc31 = pd.read_csv(r"E:\01_Programming\Py\MasterThesis_CUDA\dataset\scenario3\Batch1_etk.csv")

data_sc32 = pd.read_csv(r"E:\01_Programming\Py\MasterThesis_CUDA\dataset\scenario3\Batch2_LegranSE.csv")

data_sc33 = pd.read_csv(r"E:\01_Programming\Py\MasterThesis_CUDA\dataset\scenario3\Batch3_Marshall.csv")

data_sc34 = pd.read_csv(r"E:\01_Programming\Py\MasterThesis_CUDA\dataset\scenario3\Batch4_Roamer.csv")

data_sc35 = pd.read_csv(r"E:\01_Programming\Py\MasterThesis_CUDA\dataset\scenario3\Batch5_Truck.csv")

data_sc36 = pd.read_csv(r"E:\01_Programming\Py\MasterThesis_CUDA\dataset\scenario3\Batch6_Wagon.csv")

In [5]:
combined_dataframe = pd.concat([data_sc31, data_sc32, data_sc33, data_sc34, data_sc35, data_sc36])
# combined_dataframe_sc2 = pd.concat([data_21, data_22, data_23, data_24, data_25])
print(combined_dataframe.columns)

Index(['Unnamed: 0', 'bins_0_75', 'bins_1_75', 'bins_2_75', 'bins_3_75',
       'bins_4_75', 'bins_5_75', 'bins_6_75', 'bins_7_75', 'Entry',
       'Entry_point', 'Exit', 'Exit_point', 'path_label', 'outcome'],
      dtype='object')

In [7]:
combined_dataframe = clean_data(combined_dataframe)
combined_dataframe

,bins_0_75,bins_1_75,bins_2_75,bins_3_75,bins_4_75,bins_5_75,bins_6_75,bins_7_75,Entry,Exit,outcome
0,5.0,80.0,100.0,2851.0,60.0,4.0,1.0,2.0,True,False,True
1,691.0,48.0,10.0,14.0,10.0,2.0,2.0,24.0,True,False,True
2,4.0,8.0,97.0,3191.0,126.0,6.0,1.0,2.0,True,False,True
3,856.0,42.0,12.0,8.0,8.0,1.0,1.0,15.0,True,False,True
4,15.0,8.0,51.0,3588.0,144.0,4.0,1.0,8.0,True,False,True
...,...,...,...,...,...,...,...,...,...,...,...
779,1574.0,7.0,2.0,5.0,3.0,0.0,1.0,2211.0,True,True,False
780,1.0,2.0,74.0,7467.0,101.0,2.0,1.0,2.0,True,True,False
781,1303.0,8.0,3.0,4.0,3.0,1.0,1.0,1579.0,True,True,False
782,1.0,3.0,77.0,7391.0,87.0,1.0,1.0,2.0,True,True,False
783,1639.0,10.0,2.0,4.0,2.0,0.0,1.0,1591.0,True,True,False

# Scenario 4 Batch

In [9]:
data_sc41 = pd.read_csv(r"E:\01_Programming\Py\MasterThesis_CUDA\dataset\scenario4\Batch1_etk.csv")

data_sc42 = pd.read_csv(r"E:\01_Programming\Py\MasterThesis_CUDA\dataset\scenario4\Batch2_LegranSE.csv")

data_sc43 = pd.read_csv(r"E:\01_Programming\Py\MasterThesis_CUDA\dataset\scenario4\Batch3_Marshall.csv")

data_sc44 = pd.read_csv(r"E:\01_Programming\Py\MasterThesis_CUDA\dataset\scenario4\Batch4_Roamer.csv")

data_sc45 = pd.read_csv(r"E:\01_Programming\Py\MasterThesis_CUDA\dataset\scenario4\Batch5_Truck.csv")

data_sc46 = pd.read_csv(r"E:\01_Programming\Py\MasterThesis_CUDA\dataset\scenario4\Batch6_Wagon.csv")

In [10]:
combined_dataframe_sc4 = pd.concat([data_sc41, 
                                    data_sc42, 
                                    data_sc43, 
                                    data_sc44, 
                                    data_sc45, 
                                    data_sc46])
# combined_dataframe_sc2 = pd.concat([data_21, data_22, data_23, data_24, data_25])
print(combined_dataframe_sc4.columns)

Index(['Unnamed: 0', 'bins_0_75', 'bins_1_75', 'bins_2_75', 'bins_3_75',
       'bins_4_75', 'bins_5_75', 'bins_6_75', 'bins_7_75', 'Entry',
       'Entry_point', 'Exit', 'Exit_point', 'path_label', 'outcome'],
      dtype='object')

In [11]:
cleaned_sc4 = clean_data(combined_dataframe_sc4)
cleaned_sc4

,bins_0_75,bins_1_75,bins_2_75,bins_3_75,bins_4_75,bins_5_75,bins_6_75,bins_7_75,Entry,Exit,outcome
0,1474.0,2001.0,3.0,3.0,2.0,0.0,0.0,24.0,True,True,True
1,3175.0,194.0,222.0,2307.0,4.0,0.0,0.0,0.0,True,True,True
2,1695.0,2840.0,1.0,0.0,1.0,0.0,0.0,18.0,True,True,True
3,1450.0,3775.0,370.0,2886.0,0.0,0.0,0.0,0.0,True,True,True
4,1342.0,1205.0,37.0,1.0,1.0,0.0,1.0,40.0,True,False,True
...,...,...,...,...,...,...,...,...,...,...,...
719,3797.0,306.0,315.0,2173.0,4.0,2.0,2.0,5.0,True,True,False
720,2214.0,5.0,0.0,1.0,1.0,1.0,2.0,43.0,True,True,False
721,4266.0,283.0,394.0,2215.0,7.0,0.0,1.0,3.0,True,True,False
722,2220.0,4.0,0.0,1.0,1.0,0.0,1.0,45.0,True,True,False
723,3730.0,425.0,408.0,2395.0,13.0,0.0,0.0,0.0,True,True,False

# Scenario 5 Batch

In [12]:
data_sc51 = pd.read_csv(r"E:\01_Programming\Py\MasterThesis_CUDA\dataset\scenario5\Batch1_etk.csv")

data_sc52 = pd.read_csv(r"E:\01_Programming\Py\MasterThesis_CUDA\dataset\scenario5\Batch2_LegranSE.csv")

data_sc53 = pd.read_csv(r"E:\01_Programming\Py\MasterThesis_CUDA\dataset\scenario5\Batch3_Marshall.csv")

data_sc54 = pd.read_csv(r"E:\01_Programming\Py\MasterThesis_CUDA\dataset\scenario5\Batch4_Roamer.csv")

data_sc55 = pd.read_csv(r"E:\01_Programming\Py\MasterThesis_CUDA\dataset\scenario5\Batch5_Truck.csv")

data_sc56 = pd.read_csv(r"E:\01_Programming\Py\MasterThesis_CUDA\dataset\scenario5\Batch6_Wagon.csv")

In [13]:
combined_dataframe_sc5 = pd.concat([data_sc51, 
                                    data_sc52, 
                                    data_sc53, 
                                    data_sc54, 
                                    data_sc55, 
                                    data_sc56])
# combined_dataframe_sc2 = pd.concat([data_21, data_22, data_23, data_24, data_25])
print(combined_dataframe_sc5.columns)

Index(['Unnamed: 0', 'bins_0_75', 'bins_1_75', 'bins_2_75', 'bins_3_75',
       'bins_4_75', 'bins_5_75', 'bins_6_75', 'bins_7_75', 'Entry',
       'Entry_point', 'Exit', 'Exit_point', 'path_label', 'outcome'],
      dtype='object')

In [14]:
cleaned_sc5 = clean_data(combined_dataframe_sc5)
cleaned_sc5

,bins_0_75,bins_1_75,bins_2_75,bins_3_75,bins_4_75,bins_5_75,bins_6_75,bins_7_75,Entry,Exit,outcome
0,1167.0,380.0,587.0,1790.0,7.0,0.0,0.0,1.0,True,True,False
1,0.0,0.0,11.0,10873.0,4.0,0.0,0.0,0.0,True,True,False
2,1200.0,394.0,588.0,1859.0,7.0,0.0,0.0,1.0,True,True,False
3,0.0,0.0,10.0,12249.0,6.0,0.0,0.0,1.0,True,True,False
4,927.0,370.0,583.0,1831.0,7.0,0.0,0.0,1.0,True,True,False
...,...,...,...,...,...,...,...,...,...,...,...
369,0.0,3.0,229.0,9461.0,9.0,0.0,0.0,0.0,True,True,False
370,1553.0,128.0,302.0,2248.0,17.0,0.0,0.0,0.0,True,True,False
371,0.0,5.0,250.0,9994.0,11.0,0.0,0.0,0.0,True,True,False
372,1788.0,125.0,301.0,2255.0,16.0,0.0,0.0,0.0,True,True,False
373,0.0,2.0,250.0,10337.0,4.0,0.0,0.0,0.0,True,True,False

# Additional Batch

In [1]:
etk_path        = r"E:\01_Programming\Py\MasterThesis_CUDA\dataset\additional_data\batch_dir\etk.csv"
LegranSE_path   = r"E:\01_Programming\Py\MasterThesis_CUDA\dataset\additional_data\batch_dir\LegranSE.csv"
Marshall_path   = r"E:\01_Programming\Py\MasterThesis_CUDA\dataset\additional_data\batch_dir\Marshall.csv"
Roamer_path     = r"E:\01_Programming\Py\MasterThesis_CUDA\dataset\additional_data\batch_dir\Roamer.csv"
Truck_path      = r"E:\01_Programming\Py\MasterThesis_CUDA\dataset\additional_data\batch_dir\Truck.csv"
Wagon_path      = r"E:\01_Programming\Py\MasterThesis_CUDA\dataset\additional_data\batch_dir\Wagon.csv"

In [5]:
etk = pd.read_csv(etk_path); legran = pd.read_csv(LegranSE_path) ; marshall = pd.read_csv(Marshall_path) ; Truck = pd.read_csv(Truck_path) ; Wagon = pd.read_csv(Wagon_path)

In [7]:
combined_additional = pd.concat([etk, legran, marshall, Truck, Wagon])
combined_additional.reset_index(drop=True, inplace=True)
combined_additional

,Unnamed: 0,bins_0_75,bins_1_75,bins_2_75,bins_3_75,bins_4_75,bins_5_75,bins_6_75,bins_7_75,Entry,Entry_point,Exit,Exit_point,path_label,outcome
0,0,0.0,1.0,181.0,1647.0,6.0,0.0,0.0,0.0,True,3.0,False,NaN,22-30,True
1,1,0.0,2.0,191.0,4951.0,55.0,2.0,3.0,120.0,True,3.0,False,NaN,22-30,True
2,2,0.0,1.0,57.0,1983.0,13.0,0.0,0.0,0.0,True,3.0,False,NaN,23-30,True
3,3,0.0,6.0,389.0,2732.0,16.0,1.0,2.0,0.0,True,3.0,False,NaN,23-30,True
4,4,0.0,6.0,964.0,1725.0,4.0,0.0,0.0,0.0,True,3.0,False,NaN,24-30,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
329,65,0.0,5.0,62.0,10976.0,18.0,1.0,1.0,0.0,True,3.0,True,1.0,CR-5,True
330,66,0.0,155.0,1047.0,1633.0,1.0,0.0,0.0,0.0,True,3.0,False,NaN,CR-6,True
331,67,0.0,0.0,22.0,12552.0,17.0,1.0,0.0,0.0,True,3.0,True,1.0,CR-6,True
332,68,0.0,1.0,50.0,5435.0,2.0,0.0,0.0,0.0,True,3.0,True,1.0,CR-7,True
333,69,0.0,3.0,19.0,8303.0,11.0,2.0,11.0,50.0,True,3.0,True,1.0,CR-7,True

In [8]:
combined_additional["scenario"] = "additional_sc5"
combined_additional

,Unnamed: 0,bins_0_75,bins_1_75,bins_2_75,bins_3_75,bins_4_75,bins_5_75,bins_6_75,bins_7_75,Entry,Entry_point,Exit,Exit_point,path_label,outcome,scenario
0,0,0.0,1.0,181.0,1647.0,6.0,0.0,0.0,0.0,True,3.0,False,NaN,22-30,True,additional_sc5
1,1,0.0,2.0,191.0,4951.0,55.0,2.0,3.0,120.0,True,3.0,False,NaN,22-30,True,additional_sc5
2,2,0.0,1.0,57.0,1983.0,13.0,0.0,0.0,0.0,True,3.0,False,NaN,23-30,True,additional_sc5
3,3,0.0,6.0,389.0,2732.0,16.0,1.0,2.0,0.0,True,3.0,False,NaN,23-30,True,additional_sc5
4,4,0.0,6.0,964.0,1725.0,4.0,0.0,0.0,0.0,True,3.0,False,NaN,24-30,True,additional_sc5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
329,65,0.0,5.0,62.0,10976.0,18.0,1.0,1.0,0.0,True,3.0,True,1.0,CR-5,True,additional_sc5
330,66,0.0,155.0,1047.0,1633.0,1.0,0.0,0.0,0.0,True,3.0,False,NaN,CR-6,True,additional_sc5
331,67,0.0,0.0,22.0,12552.0,17.0,1.0,0.0,0.0,True,3.0,True,1.0,CR-6,True,additional_sc5
332,68,0.0,1.0,50.0,5435.0,2.0,0.0,0.0,0.0,True,3.0,True,1.0,CR-7,True,additional_sc5
333,69,0.0,3.0,19.0,8303.0,11.0,2.0,11.0,50.0,True,3.0,True,1.0,CR-7,True,additional_sc5

In [9]:
read_sc4 = pd.read_csv(r"D:\additional_data\additional_cases\additional_sc4.csv")
read_sc4

,bins_0_75,bins_1_75,bins_2_75,bins_3_75,bins_4_75,bins_5_75,bins_6_75,bins_7_75,Entry,Entry_point,Exit,Exit_point,path_label,outcome
0,191.0,3.0,0.0,2.0,4.0,0.0,1.0,56.0,True,2,True,4,NT-1,False
1,20.0,46.0,87.0,2044.0,3.0,0.0,0.0,1.0,True,3,True,4,NT-1,False
2,376.0,6.0,0.0,1.0,2.0,0.0,1.0,62.0,True,2,True,4,NT-10,False
3,28.0,207.0,98.0,2278.0,3.0,0.0,0.0,1.0,True,3,True,4,NT-10,False
4,98.0,3.0,0.0,1.0,2.0,0.0,1.0,57.0,True,2,True,4,NT-11,False
5,19.0,164.0,106.0,2352.0,3.0,1.0,0.0,1.0,True,3,True,4,NT-11,False
6,239.0,4.0,0.0,2.0,3.0,1.0,2.0,51.0,True,2,True,4,NT-12,False
7,47.0,235.0,93.0,2426.0,3.0,0.0,0.0,1.0,True,3,True,4,NT-12,False
8,259.0,2.0,1.0,1.0,3.0,1.0,2.0,51.0,True,2,True,4,NT-13,False
9,7.0,418.0,109.0,2468.0,3.0,1.0,0.0,1.0,True,3,True,4,NT-13,False
10,111.0,94.0,1.0,0.0,0.0,0.0,1.0,46.0,True,2,True,4,NT-14,False
11,0.0,452.0,106.0,2516.0,3.0,0.0,0.0,1.0,True,3,True,4,NT-14,False
12,31.0,1697.0,3.0,1.0,1.0,0.0,1.0,53.0,True,2,True,4,NT-15,False
13,89.0,252.0,98.0,2462.0,3.0,0.0,0.0,1.0,True,3,True,4,NT-15,False
14,44.0,1258.0,6.0,1.0,1.0,0.0,1.0,52.0,True,2,True,4,NT-16,False
15,18.0,336.0,93.0,2479.0,2.0,1.0,0.0,0.0,True,3,True,4,NT-16,False
16,16.0,1275.0,3.0,1.0,0.0,0.0,1.0,52.0,True,2,True,4,NT-17,False
17,24.0,657.0,121.0,2850.0,4.0,1.0,0.0,1.0,True,3,True,4,NT-17,False
18,255.0,33.0,0.0,0.0,1.0,0.0,1.0,45.0,True,2,True,4,NT-18,False
19,10.0,278.0,89.0,2281.0,3.0,1.0,0.0,1.0,True,3,True,4,NT-18,False
20,226.0,37.0,1.0,0.0,1.0,0.0,1.0,47.0,True,2,True,4,NT-19,False
21,5.0,293.0,87.0,2307.0,5.0,1.0,0.0,1.0,True,3,True,4,NT-19,False
22,211.0,3.0,0.0,2.0,3.0,0.0,1.0,55.0,True,2,True,4,NT-2,False
23,30.0,52.0,91.0,2152.0,4.0,0.0,0.0,1.0,True,3,True,4,NT-2,False
24,189.0,34.0,0.0,0.0,1.0,0.0,1.0,49.0,True,2,True,4,NT-20,False
25,12.0,240.0,108.0,2176.0,5.0,1.0,0.0,1.0,True,3,True,4,NT-20,False
26,104.0,38.0,0.0,1.0,1.0,0.0,1.0,42.0,True,2,True,4,NT-21,False
27,1.0,279.0,92.0,1974.0,4.0,1.0,0.0,1.0,True,3,True,4,NT-21,False
28,216.0,8.0,0.0,0.0,1.0,0.0,1.0,26.0,True,2,True,4,NT-22,False
29,70.0,271.0,100.0,2432.0,2.0,0.0,0.0,1.0,True,3,True,4,NT-22,False
30,326.0,13.0,0.0,0.0,1.0,0.0,1.0,49.0,True,2,True,4,NT-23,False
31,17.0,282.0,109.0,2421.0,3.0,0.0,0.0,1.0,True,3,True,4,NT-23,False
32,193.0,24.0,1.0,1.0,1.0,0.0,1.0,45.0,True,2,True,4,NT-24,False
33,25.0,239.0,108.0,2424.0,2.0,0.0,0.0,1.0,True,3,True,4,NT-24,False
34,340.0,10.0,0.0,1.0,1.0,0.0,1.0,46.0,True,2,True,4,NT-25,False
35,62.0,238.0,104.0,2463.0,2.0,0.0,0.0,1.0,True,3,True,4,NT-25,False
36,149.0,7.0,0.0,1.0,1.0,0.0,1.0,52.0,True,2,True,4,NT-26,False
37,17.0,271.0,113.0,2472.0,2.0,0.0,0.0,0.0,True,3,True,4,NT-26,False
38,281.0,8.0,0.0,0.0,1.0,0.0,1.0,52.0,True,2,True,4,NT-27,False
39,25.0,151.0,69.0,2872.0,4.0,0.0,0.0,1.0,True,3,True,4,NT-27,False
40,263.0,8.0,0.0,0.0,0.0,0.0,1.0,55.0,True,2,True,4,NT-28,False
41,3.0,1504.0,445.0,1648.0,2.0,0.0,0.0,1.0,True,3,True,4,NT-28,False
42,328.0,6.0,0.0,0.0,0.0,0.0,1.0,55.0,True,2,True,4,NT-29,False
43,0.0,33.0,957.0,2068.0,3.0,0.0,0.0,0.0,True,3,True,4,NT-29,False
44,133.0,4.0,1.0,1.0,2.0,1.0,1.0,53.0,True,2,True,4,NT-3,False
45,55.0,55.0,92.0,2107.0,4.0,1.0,0.0,1.0,True,3,True,4,NT-3,False
46,151.0,6.0,0.0,1.0,0.0,0.0,1.0,53.0,True,2,True,4,NT-30,False
47,1.0,581.0,93.0,2011.0,1.0,0.0,0.0,0.0,True,3,True,4,NT-30,False
48,148.0,2.0,0.0,2.0,3.0,0.0,1.0,57.0,True,2,True,4,NT-4,False
49,32.0,97.0,100.0,2144.0,3.0,0.0,0.0,1.0,True,3,True,4,NT-4,False
50,224.0,4.0,1.0,2.0,3.0,0.0,1.0,57.0,True,2,True,4,NT-5,False
51,34.0,113.0,92.0,2241.0,3.0,0.0,0.0,1.0,True,3,True,4,NT-5,False
52,184.0,3.0,0.0,1.0,3.0,0.0,2.0,55.0,True,2,True,4,NT-6,False
53,21.0,121.0,96.0,2203.0,3.0,1.0,0.0,1.0,True,3,True,4,NT-6,False
54,213.0,2.0,1.0,2.0,3.0,1.0,1.0,55.0,True,2,True,4,NT-7,False
55,12.0,117.0,98.0,2255.0,3.0,1.0,0.0,1.0,True,3,True,4,NT-7,False
56,178.0,4.0,0.0,2.0,3.0,0.0,1.0,49.0,True,2,True,4,NT-8,False
57,11.0,161.0,98.0,2340.0,3.0,1.0,0.0,1.0,True,3,True,4,NT-8,False
58,181.0,2.0,0.0,2.0,2.0,0.0,2.0,56.0,True,2,True,4,NT-9,False
59,28.0,264.0,93.0,2346.0,3.0,1.0,0.0,1.0,True,3,True,4,NT-9,False

In [10]:
read_sc4["scenario"] = "additional_sc4"
read_sc4

,bins_0_75,bins_1_75,bins_2_75,bins_3_75,bins_4_75,bins_5_75,bins_6_75,bins_7_75,Entry,Entry_point,Exit,Exit_point,path_label,outcome,scenario
0,191.0,3.0,0.0,2.0,4.0,0.0,1.0,56.0,True,2,True,4,NT-1,False,additional_sc4
1,20.0,46.0,87.0,2044.0,3.0,0.0,0.0,1.0,True,3,True,4,NT-1,False,additional_sc4
2,376.0,6.0,0.0,1.0,2.0,0.0,1.0,62.0,True,2,True,4,NT-10,False,additional_sc4
3,28.0,207.0,98.0,2278.0,3.0,0.0,0.0,1.0,True,3,True,4,NT-10,False,additional_sc4
4,98.0,3.0,0.0,1.0,2.0,0.0,1.0,57.0,True,2,True,4,NT-11,False,additional_sc4
5,19.0,164.0,106.0,2352.0,3.0,1.0,0.0,1.0,True,3,True,4,NT-11,False,additional_sc4
6,239.0,4.0,0.0,2.0,3.0,1.0,2.0,51.0,True,2,True,4,NT-12,False,additional_sc4
7,47.0,235.0,93.0,2426.0,3.0,0.0,0.0,1.0,True,3,True,4,NT-12,False,additional_sc4
8,259.0,2.0,1.0,1.0,3.0,1.0,2.0,51.0,True,2,True,4,NT-13,False,additional_sc4
9,7.0,418.0,109.0,2468.0,3.0,1.0,0.0,1.0,True,3,True,4,NT-13,False,additional_sc4
10,111.0,94.0,1.0,0.0,0.0,0.0,1.0,46.0,True,2,True,4,NT-14,False,additional_sc4
11,0.0,452.0,106.0,2516.0,3.0,0.0,0.0,1.0,True,3,True,4,NT-14,False,additional_sc4
12,31.0,1697.0,3.0,1.0,1.0,0.0,1.0,53.0,True,2,True,4,NT-15,False,additional_sc4
13,89.0,252.0,98.0,2462.0,3.0,0.0,0.0,1.0,True,3,True,4,NT-15,False,additional_sc4
14,44.0,1258.0,6.0,1.0,1.0,0.0,1.0,52.0,True,2,True,4,NT-16,False,additional_sc4
15,18.0,336.0,93.0,2479.0,2.0,1.0,0.0,0.0,True,3,True,4,NT-16,False,additional_sc4
16,16.0,1275.0,3.0,1.0,0.0,0.0,1.0,52.0,True,2,True,4,NT-17,False,additional_sc4
17,24.0,657.0,121.0,2850.0,4.0,1.0,0.0,1.0,True,3,True,4,NT-17,False,additional_sc4
18,255.0,33.0,0.0,0.0,1.0,0.0,1.0,45.0,True,2,True,4,NT-18,False,additional_sc4
19,10.0,278.0,89.0,2281.0,3.0,1.0,0.0,1.0,True,3,True,4,NT-18,False,additional_sc4
20,226.0,37.0,1.0,0.0,1.0,0.0,1.0,47.0,True,2,True,4,NT-19,False,additional_sc4
21,5.0,293.0,87.0,2307.0,5.0,1.0,0.0,1.0,True,3,True,4,NT-19,False,additional_sc4
22,211.0,3.0,0.0,2.0,3.0,0.0,1.0,55.0,True,2,True,4,NT-2,False,additional_sc4
23,30.0,52.0,91.0,2152.0,4.0,0.0,0.0,1.0,True,3,True,4,NT-2,False,additional_sc4
24,189.0,34.0,0.0,0.0,1.0,0.0,1.0,49.0,True,2,True,4,NT-20,False,additional_sc4
25,12.0,240.0,108.0,2176.0,5.0,1.0,0.0,1.0,True,3,True,4,NT-20,False,additional_sc4
26,104.0,38.0,0.0,1.0,1.0,0.0,1.0,42.0,True,2,True,4,NT-21,False,additional_sc4
27,1.0,279.0,92.0,1974.0,4.0,1.0,0.0,1.0,True,3,True,4,NT-21,False,additional_sc4
28,216.0,8.0,0.0,0.0,1.0,0.0,1.0,26.0,True,2,True,4,NT-22,False,additional_sc4
29,70.0,271.0,100.0,2432.0,2.0,0.0,0.0,1.0,True,3,True,4,NT-22,False,additional_sc4
30,326.0,13.0,0.0,0.0,1.0,0.0,1.0,49.0,True,2,True,4,NT-23,False,additional_sc4
31,17.0,282.0,109.0,2421.0,3.0,0.0,0.0,1.0,True,3,True,4,NT-23,False,additional_sc4
32,193.0,24.0,1.0,1.0,1.0,0.0,1.0,45.0,True,2,True,4,NT-24,False,additional_sc4
33,25.0,239.0,108.0,2424.0,2.0,0.0,0.0,1.0,True,3,True,4,NT-24,False,additional_sc4
34,340.0,10.0,0.0,1.0,1.0,0.0,1.0,46.0,True,2,True,4,NT-25,False,additional_sc4
35,62.0,238.0,104.0,2463.0,2.0,0.0,0.0,1.0,True,3,True,4,NT-25,False,additional_sc4
36,149.0,7.0,0.0,1.0,1.0,0.0,1.0,52.0,True,2,True,4,NT-26,False,additional_sc4
37,17.0,271.0,113.0,2472.0,2.0,0.0,0.0,0.0,True,3,True,4,NT-26,False,additional_sc4
38,281.0,8.0,0.0,0.0,1.0,0.0,1.0,52.0,True,2,True,4,NT-27,False,additional_sc4
39,25.0,151.0,69.0,2872.0,4.0,0.0,0.0,1.0,True,3,True,4,NT-27,False,additional_sc4
40,263.0,8.0,0.0,0.0,0.0,0.0,1.0,55.0,True,2,True,4,NT-28,False,additional_sc4
41,3.0,1504.0,445.0,1648.0,2.0,0.0,0.0,1.0,True,3,True,4,NT-28,False,additional_sc4
42,328.0,6.0,0.0,0.0,0.0,0.0,1.0,55.0,True,2,True,4,NT-29,False,additional_sc4
43,0.0,33.0,957.0,2068.0,3.0,0.0,0.0,0.0,True,3,True,4,NT-29,False,additional_sc4
44,133.0,4.0,1.0,1.0,2.0,1.0,1.0,53.0,True,2,True,4,NT-3,False,additional_sc4
45,55.0,55.0,92.0,2107.0,4.0,1.0,0.0,1.0,True,3,True,4,NT-3,False,additional_sc4
46,151.0,6.0,0.0,1.0,0.0,0.0,1.0,53.0,True,2,True,4,NT-30,False,additional_sc4
47,1.0,581.0,93.0,2011.0,1.0,0.0,0.0,0.0,True,3,True,4,NT-30,False,additional_sc4
48,148.0,2.0,0.0,2.0,3.0,0.0,1.0,57.0,True,2,True,4,NT-4,False,additional_sc4
49,32.0,97.0,100.0,2144.0,3.0,0.0,0.0,1.0,True,3,True,4,NT-4,False,additional_sc4
50,224.0,4.0,1.0,2.0,3.0,0.0,1.0,57.0,True,2,True,4,NT-5,False,additional_sc4
51,34.0,113.0,92.0,2241.0,3.0,0.0,0.0,1.0,True,3,True,4,NT-5,False,additional_sc4
52,184.0,3.0,0.0,1.0,3.0,0.0,2.0,55.0,True,2,True,4,NT-6,False,additional_sc4
53,21.0,121.0,96.0,2203.0,3.0,1.0,0.0,1.0,True,3,True,4,NT-6,False,additional_sc4
54,213.0,2.0,1.0,2.0,3.0,1.0,1.0,55.0,True,2,True,4,NT-7,False,additional_sc4
55,12.0,117.0,98.0,2255.0,3.0,1.0,0.0,1.0,True,3,True,4,NT-7,False,additional_sc4
56,178.0,4.0,0.0,2.0,3.0,0.0,1.0,49.0,True,2,True,4,NT-8,False,additional_sc4
57,11.0,161.0,98.0,2340.0,3.0,1.0,0.0,1.0,True,3,True,4,NT-8,False,additional_sc4
58,181.0,2.0,0.0,2.0,2.0,0.0,2.0,56.0,True,2,True,4,NT-9,False,additional_sc4
59,28.0,264.0,93.0,2346.0,3.0,1.0,0.0,1.0,True,3,True,4,NT-9,False,additional_sc4

In [11]:
additional_sc5 = pd.read_csv(r"E:\01_Programming\Py\MasterThesis_CUDA\dataset\additional_data\batch_dir\cleaned_sc5.csv")
additional_sc4 = pd.read_csv(r"E:\01_Programming\Py\MasterThesis_CUDA\dataset\additional_data\batch_dir\cleaned_sc4.csv")

In [12]:
combined_all = pd.concat([additional_sc5, additional_sc4])
combined_all.reset_index(drop=True, inplace=True)
combined_all

,Unnamed: 0.1,Unnamed: 0,bins_0_75,bins_1_75,bins_2_75,bins_3_75,bins_4_75,bins_5_75,bins_6_75,bins_7_75,Entry,Entry_point,Exit,Exit_point,path_label,outcome,scenario
0,0.0,0,0.0,1.0,181.0,1647.0,6.0,0.0,0.0,0.0,True,3.0,False,NaN,22-30,True,additional_sc5
1,1.0,1,0.0,2.0,191.0,4951.0,55.0,2.0,3.0,120.0,True,3.0,False,NaN,22-30,True,additional_sc5
2,2.0,2,0.0,1.0,57.0,1983.0,13.0,0.0,0.0,0.0,True,3.0,False,NaN,23-30,True,additional_sc5
3,3.0,3,0.0,6.0,389.0,2732.0,16.0,1.0,2.0,0.0,True,3.0,False,NaN,23-30,True,additional_sc5
4,4.0,4,0.0,6.0,964.0,1725.0,4.0,0.0,0.0,0.0,True,3.0,False,NaN,24-30,True,additional_sc5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
389,NaN,55,12.0,117.0,98.0,2255.0,3.0,1.0,0.0,1.0,True,3.0,True,4.0,NT-7,False,additional_sc4
390,NaN,56,178.0,4.0,0.0,2.0,3.0,0.0,1.0,49.0,True,2.0,True,4.0,NT-8,False,additional_sc4
391,NaN,57,11.0,161.0,98.0,2340.0,3.0,1.0,0.0,1.0,True,3.0,True,4.0,NT-8,False,additional_sc4
392,NaN,58,181.0,2.0,0.0,2.0,2.0,0.0,2.0,56.0,True,2.0,True,4.0,NT-9,False,additional_sc4
393,NaN,59,28.0,264.0,93.0,2346.0,3.0,1.0,0.0,1.0,True,3.0,True,4.0,NT-9,False,additional_sc4

In [13]:
combined_all.drop(columns=["Unnamed: 0", "Unnamed: 0.1"], inplace=True)
combined_all

,bins_0_75,bins_1_75,bins_2_75,bins_3_75,bins_4_75,bins_5_75,bins_6_75,bins_7_75,Entry,Entry_point,Exit,Exit_point,path_label,outcome,scenario
0,0.0,1.0,181.0,1647.0,6.0,0.0,0.0,0.0,True,3.0,False,NaN,22-30,True,additional_sc5
1,0.0,2.0,191.0,4951.0,55.0,2.0,3.0,120.0,True,3.0,False,NaN,22-30,True,additional_sc5
2,0.0,1.0,57.0,1983.0,13.0,0.0,0.0,0.0,True,3.0,False,NaN,23-30,True,additional_sc5
3,0.0,6.0,389.0,2732.0,16.0,1.0,2.0,0.0,True,3.0,False,NaN,23-30,True,additional_sc5
4,0.0,6.0,964.0,1725.0,4.0,0.0,0.0,0.0,True,3.0,False,NaN,24-30,True,additional_sc5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
389,12.0,117.0,98.0,2255.0,3.0,1.0,0.0,1.0,True,3.0,True,4.0,NT-7,False,additional_sc4
390,178.0,4.0,0.0,2.0,3.0,0.0,1.0,49.0,True,2.0,True,4.0,NT-8,False,additional_sc4
391,11.0,161.0,98.0,2340.0,3.0,1.0,0.0,1.0,True,3.0,True,4.0,NT-8,False,additional_sc4
392,181.0,2.0,0.0,2.0,2.0,0.0,2.0,56.0,True,2.0,True,4.0,NT-9,False,additional_sc4
393,28.0,264.0,93.0,2346.0,3.0,1.0,0.0,1.0,True,3.0,True,4.0,NT-9,False,additional_sc4

# Add scenario description

### Scenario 1

In [69]:
data_sc11 = pd.read_csv(r"E:\01_Programming\Py\MasterThesis_CUDA\dataset\scenario1\Batch_1_wagon.csv")

data_sc12 = pd.read_csv(r"E:\01_Programming\Py\MasterThesis_CUDA\dataset\scenario1\Batch_2_truck.csv")

data_sc13 = pd.read_csv(r"E:\01_Programming\Py\MasterThesis_CUDA\dataset\scenario1\Batch_3_Roamer.csv")

data_sc14 = pd.read_csv(r"E:\01_Programming\Py\MasterThesis_CUDA\dataset\scenario1\Batch_4_Marshall.csv")

data_sc15 = pd.read_csv(r"E:\01_Programming\Py\MasterThesis_CUDA\dataset\scenario1\Batch_5_LegranSE.csv")

data_sc16 = pd.read_csv(r"E:\01_Programming\Py\MasterThesis_CUDA\dataset\scenario1\Batch_6_etk.csv")

In [70]:
data_scenario1 = clean_data(data_sc11, data_sc12, data_sc13, data_sc14, data_sc15, data_sc15)
data_scenario1

,Unnamed: 0,bins_0_75,bins_1_75,bins_2_75,bins_3_75,bins_4_75,bins_5_75,bins_6_75,bins_7_75,Entry,Exit,path_label,outcome
0,0,325.0,30.0,2.0,3.0,2.0,0.0,1.0,20.0,True,True,40-30,True
1,1,0.0,1.0,97.0,2974.0,20.0,1.0,1.0,9.0,True,False,40-30,True
2,2,386.0,30.0,2.0,2.0,2.0,0.0,1.0,20.0,True,True,42-30,True
3,3,0.0,2.0,91.0,2957.0,16.0,1.0,2.0,16.0,True,False,42-30,True
4,4,219.0,182.0,2.0,3.0,2.0,0.0,1.0,21.0,True,True,44-32,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
778,125,86.0,682.0,8.0,12.0,3.0,0.0,1.0,21.0,True,True,NT-36-52,False
779,126,0.0,0.0,41.0,13184.0,19.0,0.0,0.0,0.0,True,True,NT-38-54,False
780,127,142.0,725.0,5.0,10.0,3.0,1.0,1.0,22.0,True,True,NT-38-54,False
781,128,133.0,134.0,3.0,6.0,3.0,1.0,1.0,24.0,True,True,NT-40-56,False
782,129,0.0,0.0,59.0,12321.0,9.0,0.0,0.0,0.0,True,True,NT-40-56,False

In [71]:
data_scenario1 = to_numBoolean(data_scenario1, ["Entry", "Exit"])
data_scenario1.drop(columns=["Unnamed: 0"], inplace=True)
data_scenario1

,bins_0_75,bins_1_75,bins_2_75,bins_3_75,bins_4_75,bins_5_75,bins_6_75,bins_7_75,Entry,Exit,path_label,outcome
0,325.0,30.0,2.0,3.0,2.0,0.0,1.0,20.0,1,1,40-30,True
1,0.0,1.0,97.0,2974.0,20.0,1.0,1.0,9.0,1,0,40-30,True
2,386.0,30.0,2.0,2.0,2.0,0.0,1.0,20.0,1,1,42-30,True
3,0.0,2.0,91.0,2957.0,16.0,1.0,2.0,16.0,1,0,42-30,True
4,219.0,182.0,2.0,3.0,2.0,0.0,1.0,21.0,1,1,44-32,True
...,...,...,...,...,...,...,...,...,...,...,...,...
778,86.0,682.0,8.0,12.0,3.0,0.0,1.0,21.0,1,1,NT-36-52,False
779,0.0,0.0,41.0,13184.0,19.0,0.0,0.0,0.0,1,1,NT-38-54,False
780,142.0,725.0,5.0,10.0,3.0,1.0,1.0,22.0,1,1,NT-38-54,False
781,133.0,134.0,3.0,6.0,3.0,1.0,1.0,24.0,1,1,NT-40-56,False
782,0.0,0.0,59.0,12321.0,9.0,0.0,0.0,0.0,1,1,NT-40-56,False

In [72]:
data_scenario1 = to_numBoolean(data_scenario1, ["outcome"])
data_scenario1["scenario"] = "org_sc1"
data_scenario1

,bins_0_75,bins_1_75,bins_2_75,bins_3_75,bins_4_75,bins_5_75,bins_6_75,bins_7_75,Entry,Exit,path_label,outcome,scenario
0,325.0,30.0,2.0,3.0,2.0,0.0,1.0,20.0,1,1,40-30,1,org_sc1
1,0.0,1.0,97.0,2974.0,20.0,1.0,1.0,9.0,1,0,40-30,1,org_sc1
2,386.0,30.0,2.0,2.0,2.0,0.0,1.0,20.0,1,1,42-30,1,org_sc1
3,0.0,2.0,91.0,2957.0,16.0,1.0,2.0,16.0,1,0,42-30,1,org_sc1
4,219.0,182.0,2.0,3.0,2.0,0.0,1.0,21.0,1,1,44-32,1,org_sc1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
778,86.0,682.0,8.0,12.0,3.0,0.0,1.0,21.0,1,1,NT-36-52,0,org_sc1
779,0.0,0.0,41.0,13184.0,19.0,0.0,0.0,0.0,1,1,NT-38-54,0,org_sc1
780,142.0,725.0,5.0,10.0,3.0,1.0,1.0,22.0,1,1,NT-38-54,0,org_sc1
781,133.0,134.0,3.0,6.0,3.0,1.0,1.0,24.0,1,1,NT-40-56,0,org_sc1
782,0.0,0.0,59.0,12321.0,9.0,0.0,0.0,0.0,1,1,NT-40-56,0,org_sc1

### Scenario 2

In [73]:
data_sc21 = pd.read_csv(r"E:\01_Programming\Py\MasterThesis_CUDA\dataset\scenario2\Batch1_etk.csv")

data_sc22 = pd.read_csv(r"E:\01_Programming\Py\MasterThesis_CUDA\dataset\scenario2\Batch2_legran.csv")

data_sc23 = pd.read_csv(r"E:\01_Programming\Py\MasterThesis_CUDA\dataset\scenario2\Batch3_Marshall.csv")

data_sc24 = pd.read_csv(r"E:\01_Programming\Py\MasterThesis_CUDA\dataset\scenario2\Batch4_Roamer.csv")

data_sc25 = pd.read_csv(r"E:\01_Programming\Py\MasterThesis_CUDA\dataset\scenario2\Batch5_Wagon.csv")

data_sc26 = pd.read_csv(r"E:\01_Programming\Py\MasterThesis_CUDA\dataset\scenario2\Batch6_Trucks.csv")

In [74]:
data_scenario2 = clean_data(data_sc21, data_sc22, data_sc23, data_sc24, data_sc25, data_sc26)
data_scenario2

,Unnamed: 0,index,bins_0_75,bins_1_75,bins_2_75,bins_3_75,bins_4_75,bins_5_75,bins_6_75,bins_7_75,Entry,Exit,path_label,outcome
0,0,0.0,14.0,148.0,9.0,12.0,25.0,4.0,2.0,14.0,True,False,30-40,True
1,1,1.0,1.0,4.0,26.0,374.0,16823.0,25.0,14.0,57.0,True,False,30-40,True
2,2,2.0,40.0,154.0,13.0,14.0,22.0,4.0,2.0,15.0,True,False,32-42,True
3,3,3.0,63.0,133.0,12.0,20.0,27.0,5.0,2.0,16.0,True,False,34-44,True
4,4,4.0,34.0,141.0,9.0,50.0,47.0,13.0,4.0,14.0,True,False,36-46,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
667,107,NaN,0.0,3.0,0.0,8457.0,11156.0,0.0,0.0,0.0,True,True,NT-4,False
668,108,NaN,198.0,221.0,5.0,4.0,5.0,2.0,1.0,14.0,True,True,NT-45-28,False
669,109,NaN,0.0,0.0,0.0,8461.0,11645.0,0.0,0.0,0.0,True,True,NT-45-28,False
670,110,NaN,154.0,254.0,5.0,4.0,5.0,2.0,1.0,14.0,True,True,NT-55-28,False
671,111,NaN,0.0,1.0,0.0,8313.0,11442.0,0.0,0.0,0.0,True,True,NT-55-28,False

In [75]:
data_scenario2 = to_numBoolean(data_scenario2, ["Entry", "Exit", "outcome"])
data_scenario2.drop(columns=["Unnamed: 0", "index"], inplace=True)
data_scenario2["scenario"] = "org_sc2"
data_scenario2

,bins_0_75,bins_1_75,bins_2_75,bins_3_75,bins_4_75,bins_5_75,bins_6_75,bins_7_75,Entry,Exit,path_label,outcome,scenario
0,14.0,148.0,9.0,12.0,25.0,4.0,2.0,14.0,1,0,30-40,1,org_sc2
1,1.0,4.0,26.0,374.0,16823.0,25.0,14.0,57.0,1,0,30-40,1,org_sc2
2,40.0,154.0,13.0,14.0,22.0,4.0,2.0,15.0,1,0,32-42,1,org_sc2
3,63.0,133.0,12.0,20.0,27.0,5.0,2.0,16.0,1,0,34-44,1,org_sc2
4,34.0,141.0,9.0,50.0,47.0,13.0,4.0,14.0,1,0,36-46,1,org_sc2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
667,0.0,3.0,0.0,8457.0,11156.0,0.0,0.0,0.0,1,1,NT-4,0,org_sc2
668,198.0,221.0,5.0,4.0,5.0,2.0,1.0,14.0,1,1,NT-45-28,0,org_sc2
669,0.0,0.0,0.0,8461.0,11645.0,0.0,0.0,0.0,1,1,NT-45-28,0,org_sc2
670,154.0,254.0,5.0,4.0,5.0,2.0,1.0,14.0,1,1,NT-55-28,0,org_sc2
671,0.0,1.0,0.0,8313.0,11442.0,0.0,0.0,0.0,1,1,NT-55-28,0,org_sc2

In [42]:
data_scenario2

,bins_0_75,bins_1_75,bins_2_75,bins_3_75,bins_4_75,bins_5_75,bins_6_75,bins_7_75,Entry,Exit,outcome,scenario
0,325.0,30.0,2.0,3.0,2.0,0.0,1.0,20.0,1,1,1,org_sc1
1,0.0,1.0,97.0,2974.0,20.0,1.0,1.0,9.0,1,0,1,org_sc1
2,386.0,30.0,2.0,2.0,2.0,0.0,1.0,20.0,1,1,1,org_sc1
3,0.0,2.0,91.0,2957.0,16.0,1.0,2.0,16.0,1,0,1,org_sc1
4,219.0,182.0,2.0,3.0,2.0,0.0,1.0,21.0,1,1,1,org_sc1
...,...,...,...,...,...,...,...,...,...,...,...,...
778,86.0,682.0,8.0,12.0,3.0,0.0,1.0,21.0,1,1,0,org_sc1
779,0.0,0.0,41.0,13184.0,19.0,0.0,0.0,0.0,1,1,0,org_sc1
780,142.0,725.0,5.0,10.0,3.0,1.0,1.0,22.0,1,1,0,org_sc1
781,133.0,134.0,3.0,6.0,3.0,1.0,1.0,24.0,1,1,0,org_sc1
782,0.0,0.0,59.0,12321.0,9.0,0.0,0.0,0.0,1,1,0,org_sc1

### Scenario 3

In [76]:
data_sc31 = pd.read_csv(r"E:\01_Programming\Py\MasterThesis_CUDA\dataset\scenario3\Batch1_etk.csv")

data_sc32 = pd.read_csv(r"E:\01_Programming\Py\MasterThesis_CUDA\dataset\scenario3\Batch2_LegranSE.csv")

data_sc33 = pd.read_csv(r"E:\01_Programming\Py\MasterThesis_CUDA\dataset\scenario3\Batch3_Marshall.csv")

data_sc34 = pd.read_csv(r"E:\01_Programming\Py\MasterThesis_CUDA\dataset\scenario3\Batch4_Roamer.csv")

data_sc35 = pd.read_csv(r"E:\01_Programming\Py\MasterThesis_CUDA\dataset\scenario3\Batch5_Truck.csv")

data_sc36 = pd.read_csv(r"E:\01_Programming\Py\MasterThesis_CUDA\dataset\scenario3\Batch6_Wagon.csv")

In [77]:
data_scenario3 = clean_data(data_sc31, data_sc32, data_sc33, data_sc34, data_sc35, data_sc36)
data_scenario3

,Unnamed: 0,bins_0_75,bins_1_75,bins_2_75,bins_3_75,bins_4_75,bins_5_75,bins_6_75,bins_7_75,Entry,Exit,path_label,outcome
0,0,5.0,80.0,100.0,2851.0,60.0,4.0,1.0,2.0,True,False,35-35,True
1,1,691.0,48.0,10.0,14.0,10.0,2.0,2.0,24.0,True,False,35-35,True
2,2,4.0,8.0,97.0,3191.0,126.0,6.0,1.0,2.0,True,False,35-37,True
3,3,856.0,42.0,12.0,8.0,8.0,1.0,1.0,15.0,True,False,35-37,True
4,4,15.0,8.0,51.0,3588.0,144.0,4.0,1.0,8.0,True,False,35-39,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
779,126,1574.0,7.0,2.0,5.0,3.0,0.0,1.0,2211.0,True,True,NT-26-51,False
780,127,1.0,2.0,74.0,7467.0,101.0,2.0,1.0,2.0,True,True,NT-26-53,False
781,128,1303.0,8.0,3.0,4.0,3.0,1.0,1.0,1579.0,True,True,NT-26-53,False
782,129,1.0,3.0,77.0,7391.0,87.0,1.0,1.0,2.0,True,True,NT-26-55,False
783,130,1639.0,10.0,2.0,4.0,2.0,0.0,1.0,1591.0,True,True,NT-26-55,False

In [78]:
data_scenario3 = to_numBoolean(data_scenario3, ["Entry", "Exit", "outcome"])
data_scenario3.drop(columns=["Unnamed: 0"], inplace=True)
data_scenario3["scenario"] = "org_sc3"
data_scenario3

,bins_0_75,bins_1_75,bins_2_75,bins_3_75,bins_4_75,bins_5_75,bins_6_75,bins_7_75,Entry,Exit,path_label,outcome,scenario
0,5.0,80.0,100.0,2851.0,60.0,4.0,1.0,2.0,1,0,35-35,1,org_sc3
1,691.0,48.0,10.0,14.0,10.0,2.0,2.0,24.0,1,0,35-35,1,org_sc3
2,4.0,8.0,97.0,3191.0,126.0,6.0,1.0,2.0,1,0,35-37,1,org_sc3
3,856.0,42.0,12.0,8.0,8.0,1.0,1.0,15.0,1,0,35-37,1,org_sc3
4,15.0,8.0,51.0,3588.0,144.0,4.0,1.0,8.0,1,0,35-39,1,org_sc3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
779,1574.0,7.0,2.0,5.0,3.0,0.0,1.0,2211.0,1,1,NT-26-51,0,org_sc3
780,1.0,2.0,74.0,7467.0,101.0,2.0,1.0,2.0,1,1,NT-26-53,0,org_sc3
781,1303.0,8.0,3.0,4.0,3.0,1.0,1.0,1579.0,1,1,NT-26-53,0,org_sc3
782,1.0,3.0,77.0,7391.0,87.0,1.0,1.0,2.0,1,1,NT-26-55,0,org_sc3
783,1639.0,10.0,2.0,4.0,2.0,0.0,1.0,1591.0,1,1,NT-26-55,0,org_sc3

### Scenario 4

In [79]:
data_sc41 = pd.read_csv(r"E:\01_Programming\Py\MasterThesis_CUDA\dataset\scenario4\Batch1_etk.csv")

data_sc42 = pd.read_csv(r"E:\01_Programming\Py\MasterThesis_CUDA\dataset\scenario4\Batch2_LegranSE.csv")

data_sc43 = pd.read_csv(r"E:\01_Programming\Py\MasterThesis_CUDA\dataset\scenario4\Batch3_Marshall.csv")

data_sc44 = pd.read_csv(r"E:\01_Programming\Py\MasterThesis_CUDA\dataset\scenario4\Batch4_Roamer.csv")

data_sc45 = pd.read_csv(r"E:\01_Programming\Py\MasterThesis_CUDA\dataset\scenario4\Batch5_Truck.csv")

data_sc46 = pd.read_csv(r"E:\01_Programming\Py\MasterThesis_CUDA\dataset\scenario4\Batch6_Wagon.csv")

In [80]:
data_scenario4 = clean_data(data_sc41, data_sc42, data_sc43, data_sc44, data_sc45, data_sc46)
data_scenario4

,Unnamed: 0,bins_0_75,bins_1_75,bins_2_75,bins_3_75,bins_4_75,bins_5_75,bins_6_75,bins_7_75,Entry,Exit,path_label,outcome
0,0,1474.0,2001.0,3.0,3.0,2.0,0.0,0.0,24.0,True,True,34-39,True
1,1,3175.0,194.0,222.0,2307.0,4.0,0.0,0.0,0.0,True,True,34-39,True
2,2,1695.0,2840.0,1.0,0.0,1.0,0.0,0.0,18.0,True,True,34-41,True
3,3,1450.0,3775.0,370.0,2886.0,0.0,0.0,0.0,0.0,True,True,34-41,True
4,4,1342.0,1205.0,37.0,1.0,1.0,0.0,1.0,40.0,True,False,34-43,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
719,115,3797.0,306.0,315.0,2173.0,4.0,2.0,2.0,5.0,True,True,NT-24-32,False
720,116,2214.0,5.0,0.0,1.0,1.0,1.0,2.0,43.0,True,True,NT-24-34,False
721,117,4266.0,283.0,394.0,2215.0,7.0,0.0,1.0,3.0,True,True,NT-24-34,False
722,118,2220.0,4.0,0.0,1.0,1.0,0.0,1.0,45.0,True,True,NT-24-36,False
723,119,3730.0,425.0,408.0,2395.0,13.0,0.0,0.0,0.0,True,True,NT-24-36,False

In [81]:
data_scenario4 = to_numBoolean(data_scenario4, ["Entry", "Exit", "outcome"])
data_scenario4.drop(columns=["Unnamed: 0"], inplace=True)
data_scenario4["scenario"] = "org_sc4"
data_scenario4

,bins_0_75,bins_1_75,bins_2_75,bins_3_75,bins_4_75,bins_5_75,bins_6_75,bins_7_75,Entry,Exit,path_label,outcome,scenario
0,1474.0,2001.0,3.0,3.0,2.0,0.0,0.0,24.0,1,1,34-39,1,org_sc4
1,3175.0,194.0,222.0,2307.0,4.0,0.0,0.0,0.0,1,1,34-39,1,org_sc4
2,1695.0,2840.0,1.0,0.0,1.0,0.0,0.0,18.0,1,1,34-41,1,org_sc4
3,1450.0,3775.0,370.0,2886.0,0.0,0.0,0.0,0.0,1,1,34-41,1,org_sc4
4,1342.0,1205.0,37.0,1.0,1.0,0.0,1.0,40.0,1,0,34-43,1,org_sc4
...,...,...,...,...,...,...,...,...,...,...,...,...,...
719,3797.0,306.0,315.0,2173.0,4.0,2.0,2.0,5.0,1,1,NT-24-32,0,org_sc4
720,2214.0,5.0,0.0,1.0,1.0,1.0,2.0,43.0,1,1,NT-24-34,0,org_sc4
721,4266.0,283.0,394.0,2215.0,7.0,0.0,1.0,3.0,1,1,NT-24-34,0,org_sc4
722,2220.0,4.0,0.0,1.0,1.0,0.0,1.0,45.0,1,1,NT-24-36,0,org_sc4
723,3730.0,425.0,408.0,2395.0,13.0,0.0,0.0,0.0,1,1,NT-24-36,0,org_sc4

### Scenario 5

In [82]:
data_sc51 = pd.read_csv(r"E:\01_Programming\Py\MasterThesis_CUDA\dataset\scenario5\Batch1_etk.csv")

data_sc52 = pd.read_csv(r"E:\01_Programming\Py\MasterThesis_CUDA\dataset\scenario5\Batch2_LegranSE.csv")

data_sc53 = pd.read_csv(r"E:\01_Programming\Py\MasterThesis_CUDA\dataset\scenario5\Batch3_Marshall.csv")

data_sc54 = pd.read_csv(r"E:\01_Programming\Py\MasterThesis_CUDA\dataset\scenario5\Batch4_Roamer.csv")

data_sc55 = pd.read_csv(r"E:\01_Programming\Py\MasterThesis_CUDA\dataset\scenario5\Batch5_Truck.csv")

data_sc56 = pd.read_csv(r"E:\01_Programming\Py\MasterThesis_CUDA\dataset\scenario5\Batch6_Wagon.csv")

In [83]:
data_scenario5 = clean_data(data_sc51, data_sc52, data_sc53, data_sc54, data_sc55, data_sc56)
data_scenario5

,Unnamed: 0,bins_0_75,bins_1_75,bins_2_75,bins_3_75,bins_4_75,bins_5_75,bins_6_75,bins_7_75,Entry,Exit,path_label,outcome
0,0,1167.0,380.0,587.0,1790.0,7.0,0.0,0.0,1.0,True,True,NT-38-28,False
1,1,0.0,0.0,11.0,10873.0,4.0,0.0,0.0,0.0,True,True,NT-38-28,False
2,2,1200.0,394.0,588.0,1859.0,7.0,0.0,0.0,1.0,True,True,NT-38-30,False
3,3,0.0,0.0,10.0,12249.0,6.0,0.0,0.0,1.0,True,True,NT-38-30,False
4,4,927.0,370.0,583.0,1831.0,7.0,0.0,0.0,1.0,True,True,NT-38-32,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
369,55,0.0,3.0,229.0,9461.0,9.0,0.0,0.0,0.0,True,True,NT-38-36,False
370,56,1553.0,128.0,302.0,2248.0,17.0,0.0,0.0,0.0,True,True,NT-38-38,False
371,57,0.0,5.0,250.0,9994.0,11.0,0.0,0.0,0.0,True,True,NT-38-38,False
372,58,1788.0,125.0,301.0,2255.0,16.0,0.0,0.0,0.0,True,True,NT-38-40,False
373,59,0.0,2.0,250.0,10337.0,4.0,0.0,0.0,0.0,True,True,NT-38-40,False

In [84]:
data_scenario5 = to_numBoolean(data_scenario5, ["Entry", "Exit", "outcome"])
data_scenario5.drop(columns=["Unnamed: 0"], inplace=True)
data_scenario5["scenario"] = "org_sc5"
data_scenario5

,bins_0_75,bins_1_75,bins_2_75,bins_3_75,bins_4_75,bins_5_75,bins_6_75,bins_7_75,Entry,Exit,path_label,outcome,scenario
0,1167.0,380.0,587.0,1790.0,7.0,0.0,0.0,1.0,1,1,NT-38-28,0,org_sc5
1,0.0,0.0,11.0,10873.0,4.0,0.0,0.0,0.0,1,1,NT-38-28,0,org_sc5
2,1200.0,394.0,588.0,1859.0,7.0,0.0,0.0,1.0,1,1,NT-38-30,0,org_sc5
3,0.0,0.0,10.0,12249.0,6.0,0.0,0.0,1.0,1,1,NT-38-30,0,org_sc5
4,927.0,370.0,583.0,1831.0,7.0,0.0,0.0,1.0,1,1,NT-38-32,0,org_sc5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
369,0.0,3.0,229.0,9461.0,9.0,0.0,0.0,0.0,1,1,NT-38-36,0,org_sc5
370,1553.0,128.0,302.0,2248.0,17.0,0.0,0.0,0.0,1,1,NT-38-38,0,org_sc5
371,0.0,5.0,250.0,9994.0,11.0,0.0,0.0,0.0,1,1,NT-38-38,0,org_sc5
372,1788.0,125.0,301.0,2255.0,16.0,0.0,0.0,0.0,1,1,NT-38-40,0,org_sc5
373,0.0,2.0,250.0,10337.0,4.0,0.0,0.0,0.0,1,1,NT-38-40,0,org_sc5

### Additional cases

In [85]:
addition_sc5sc4 = pd.read_csv(r"E:\01_Programming\Py\MasterThesis_CUDA\dataset\additional_data\batch_dir\cleaned_additional.csv")
addition_sc5sc4

,Unnamed: 0,bins_0_75,bins_1_75,bins_2_75,bins_3_75,bins_4_75,bins_5_75,bins_6_75,bins_7_75,Entry,Entry_point,Exit,Exit_point,path_label,outcome,scenario
0,0,0.0,1.0,181.0,1647.0,6.0,0.0,0.0,0.0,True,3.0,False,NaN,22-30,True,additional_sc5
1,1,0.0,2.0,191.0,4951.0,55.0,2.0,3.0,120.0,True,3.0,False,NaN,22-30,True,additional_sc5
2,2,0.0,1.0,57.0,1983.0,13.0,0.0,0.0,0.0,True,3.0,False,NaN,23-30,True,additional_sc5
3,3,0.0,6.0,389.0,2732.0,16.0,1.0,2.0,0.0,True,3.0,False,NaN,23-30,True,additional_sc5
4,4,0.0,6.0,964.0,1725.0,4.0,0.0,0.0,0.0,True,3.0,False,NaN,24-30,True,additional_sc5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
389,389,12.0,117.0,98.0,2255.0,3.0,1.0,0.0,1.0,True,3.0,True,4.0,NT-7,False,additional_sc4
390,390,178.0,4.0,0.0,2.0,3.0,0.0,1.0,49.0,True,2.0,True,4.0,NT-8,False,additional_sc4
391,391,11.0,161.0,98.0,2340.0,3.0,1.0,0.0,1.0,True,3.0,True,4.0,NT-8,False,additional_sc4
392,392,181.0,2.0,0.0,2.0,2.0,0.0,2.0,56.0,True,2.0,True,4.0,NT-9,False,additional_sc4
393,393,28.0,264.0,93.0,2346.0,3.0,1.0,0.0,1.0,True,3.0,True,4.0,NT-9,False,additional_sc4

In [86]:
addition_sc5sc4.drop(columns=["Unnamed: 0", "Exit_point", "Entry_point"], inplace=True)
addition_sc5sc4 = to_numBoolean(addition_sc5sc4, ["Entry", "Exit", "outcome"])
addition_sc5sc4

,bins_0_75,bins_1_75,bins_2_75,bins_3_75,bins_4_75,bins_5_75,bins_6_75,bins_7_75,Entry,Exit,path_label,outcome,scenario
0,0.0,1.0,181.0,1647.0,6.0,0.0,0.0,0.0,1,0,22-30,1,additional_sc5
1,0.0,2.0,191.0,4951.0,55.0,2.0,3.0,120.0,1,0,22-30,1,additional_sc5
2,0.0,1.0,57.0,1983.0,13.0,0.0,0.0,0.0,1,0,23-30,1,additional_sc5
3,0.0,6.0,389.0,2732.0,16.0,1.0,2.0,0.0,1,0,23-30,1,additional_sc5
4,0.0,6.0,964.0,1725.0,4.0,0.0,0.0,0.0,1,0,24-30,1,additional_sc5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
389,12.0,117.0,98.0,2255.0,3.0,1.0,0.0,1.0,1,1,NT-7,0,additional_sc4
390,178.0,4.0,0.0,2.0,3.0,0.0,1.0,49.0,1,1,NT-8,0,additional_sc4
391,11.0,161.0,98.0,2340.0,3.0,1.0,0.0,1.0,1,1,NT-8,0,additional_sc4
392,181.0,2.0,0.0,2.0,2.0,0.0,2.0,56.0,1,1,NT-9,0,additional_sc4
393,28.0,264.0,93.0,2346.0,3.0,1.0,0.0,1.0,1,1,NT-9,0,additional_sc4

# Create MasterFile

In [88]:
MasterFile = pd.concat([
    data_scenario1, 
    data_scenario2, 
    data_scenario3, 
    data_scenario4, 
    data_scenario5,
    addition_sc5sc4
])
MasterFile.reset_index(drop=True, inplace=True)
MasterFile

,bins_0_75,bins_1_75,bins_2_75,bins_3_75,bins_4_75,bins_5_75,bins_6_75,bins_7_75,Entry,Exit,path_label,outcome,scenario
0,325.0,30.0,2.0,3.0,2.0,0.0,1.0,20.0,1,1,40-30,1,org_sc1
1,0.0,1.0,97.0,2974.0,20.0,1.0,1.0,9.0,1,0,40-30,1,org_sc1
2,386.0,30.0,2.0,2.0,2.0,0.0,1.0,20.0,1,1,42-30,1,org_sc1
3,0.0,2.0,91.0,2957.0,16.0,1.0,2.0,16.0,1,0,42-30,1,org_sc1
4,219.0,182.0,2.0,3.0,2.0,0.0,1.0,21.0,1,1,44-32,1,org_sc1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3726,12.0,117.0,98.0,2255.0,3.0,1.0,0.0,1.0,1,1,NT-7,0,additional_sc4
3727,178.0,4.0,0.0,2.0,3.0,0.0,1.0,49.0,1,1,NT-8,0,additional_sc4
3728,11.0,161.0,98.0,2340.0,3.0,1.0,0.0,1.0,1,1,NT-8,0,additional_sc4
3729,181.0,2.0,0.0,2.0,2.0,0.0,2.0,56.0,1,1,NT-9,0,additional_sc4
3730,28.0,264.0,93.0,2346.0,3.0,1.0,0.0,1.0,1,1,NT-9,0,additional_sc4

In [23]:
MasterFile.drop(columns=["Unnamed: 0"], inplace=True)
MasterFile

,bins_0_75,bins_1_75,bins_2_75,bins_3_75,bins_4_75,bins_5_75,bins_6_75,bins_7_75,Entry,Exit,outcome,scenario,Entry_point,Exit_point,path_label
0,325.0,30.0,2.0,3.0,2.0,0.0,1.0,20.0,1,1,1,org_sc1,NaN,NaN,NaN
1,0.0,1.0,97.0,2974.0,20.0,1.0,1.0,9.0,1,0,1,org_sc1,NaN,NaN,NaN
2,386.0,30.0,2.0,2.0,2.0,0.0,1.0,20.0,1,1,1,org_sc1,NaN,NaN,NaN
3,0.0,2.0,91.0,2957.0,16.0,1.0,2.0,16.0,1,0,1,org_sc1,NaN,NaN,NaN
4,219.0,182.0,2.0,3.0,2.0,0.0,1.0,21.0,1,1,1,org_sc1,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3358,12.0,117.0,98.0,2255.0,3.0,1.0,0.0,1.0,1,1,0,additional_sc4,3.0,4.0,NT-7
3359,178.0,4.0,0.0,2.0,3.0,0.0,1.0,49.0,1,1,0,additional_sc4,2.0,4.0,NT-8
3360,11.0,161.0,98.0,2340.0,3.0,1.0,0.0,1.0,1,1,0,additional_sc4,3.0,4.0,NT-8
3361,181.0,2.0,0.0,2.0,2.0,0.0,2.0,56.0,1,1,0,additional_sc4,2.0,4.0,NT-9
3362,28.0,264.0,93.0,2346.0,3.0,1.0,0.0,1.0,1,1,0,additional_sc4,3.0,4.0,NT-9